@model IEnumerable<books>
<link href="~/css/booklist.css" rel="stylesheet" />
<table style="background-color:burlywood ">
    
    <a asp-action="Create" asp-controller="Book" class="btn btn-outline-light">Add new Book</a>

    <tr>
        <th>Name</th>
        <th>Author</th>
        <th>description</th>
        <th>price</th>
        
        <th>IsActive</th>
        <th>category</th>
       
        <th>Update</th>
        <th>Delete</th>
    </tr>
  @foreach(var x in Model)
  {
    <tr>
        <td>@x.Name</td>
        <td>@x.Author</td>
        <td>@x.Description</td>
        <td>@x.Price</td>
        
        <td>@x.IsActive</td>
        <td>@x.Category</td>
        



             <td>
                <div>
                    <a class="btn btn-outline-info" asp-controller="Book" asp-action="Update" asp-route-id="@x.BookId">
                        Update
                    </a> 
                </div> 
            </td>
            <td>
                <div>
                    <a class="btn btn-outline-danger" asp-controller="Book" asp-action="Delete" asp-route-id="@x.BookId">
                        Delete
                    </a>
                </div>
            </td>
            
    </tr>
  }
</table>

   