@model IEnumerable<books>
<button class="btn btn-outline-info"><a asp-action="Create" asp-controller="Book" style="text-decoration:none">Add new Book</a></button>
    <table class="table">
    <tr>
        <th>Name</th>
        <th>Author</th>
        <th>description</th>
        <th>price</th>
        <th>created date</th>
        <th>modifieddate</th>
        <th>IsActive</th>
        <th>category</th>
        <th>created by</th>
        <th>Modified by</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
  @foreach(var x in Model)
  {
    <tr>
        <td>@x.Name</td>
        <td>@x.Author</td>
        <td>@x.Description</td>
        <td>@x.Price</td>
        <td>@x.CreatedDate</td>
        <td>@x.ModifiedDate</td>
        <td>@x.IsActive</td>
        <td>@x.Category</td>
        <td>@x.CreatedBy</td>
        <td>@x.Modifiedby</td>



             <td>
                <div>
                    <a class="btn btn-outline-info" asp-controller="Book" asp-action="Update" asp-route-id="@x.BookId">
                        Update
                    </a> 
                </div> 
            </td>
            <td>
                <div>
                    <a class="btn btn-outline-danger" asp-controller="Book" asp-action="Delete" asp-route-id="@x.BookId">
                        Delete
                    </a>
                </div>
            </td>
            
    </tr>
  }
</table>