@model IEnumerable<books>
    <table style="background-color:burlywood ">
    
    <a asp-action="Create" asp-controller="Book" class="btn btn-outline-light">Add new Book</a>

    <tr>
        <th>Name</th>
        <th>Author</th>
        <th>description</th>
        <th>price</th>
        
        <th>IsActive</th>
        <th>category</th>
       
        <th>Update</th>
        <th>Delete</th>
    </tr>
  @foreach(var x in Model)
  {
    <tr>
        <td>@x.Name</td>
        <td>@x.Author</td>
        <td>@x.Description</td>
        <td>@x.Price</td>
        
        <td>@x.IsActive</td>
        <td>@x.Category</td>
        



             <td>
                <div>
                    <a class="btn btn-outline-info" asp-controller="Book" asp-action="Update" asp-route-id="@x.BookId">
                        Update
                    </a> 
                </div> 
            </td>
            <td>
                <div>
                    <a class="btn btn-outline-danger" asp-controller="Book" asp-action="Delete" asp-route-id="@x.BookId">
                        Delete
                    </a>
                </div>
            </td>
            
    </tr>
  }
</table>

                    <style>
                        table, tr{
                            width:100%;
                            border:1px solid black;
                        }

                        td{
                            border:1px solid black;
                        }

    td:hover {
        border: 1px solid black;
        background-color:antiquewhite;
            box-shadow: 2px 2px 1px 1px black;
        }

        tr:hover {
            border: 1px solid black;
            background-color: sandybrown;
            box-shadow:1px 1px 1px 1px black;
        }
</style>