@model IEnumerable<books>
<h2> Available Books </h2>
<table class="table">

    <tr>
        <th>Bookname</th>
        <th>description</th>
        <th>Author</th>
        <th>Available</th>
        <th>Created By</th>
        <th>Genre</th>
        <th>Price</th>

    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Name</td>
            <td>@x.Description</td>
            <td>@x.Author</td>
            <td>@x.IsActive</td>
            <td>@x.CreatedBy</td>
            <td>@x.Category</td>
            <td>@x.Price</td>


        </tr>
    }


</table>
