@model books
<html>
<body>
    <h1> Update Book </h1>
    <h3 style="color:cornflowerblue">@ViewData["message"]</h3>

    <form style="background-color:antiquewhite" method="post">
        <label for="Name">Name</label>
        <input type="text" name="Name" placeholder="BookName" value="@Model.Name" required><br /> <br />
         <label for="Author">Author</label>
        <input type="text" name="author" placeholder="Author" value="@Model.Author" required><br /><br />
        <label for="Description">description</label>
        <input type="text" name="description" placeholder="description" value="@Model.Description" required><br /><br />
         
         <label for="Price">Price</label>
        <input type="text" name="price" placeholder="price" value="@Model.Price" required><br /><br />
        <label for="IsActive">Available</label>
        <select name="IsActive" >
            <option value=true>Available book</option>
            <option value=false>Not Available </option>
        </select>
 <label for="Category">Category</label>
        <select name="Category">

            <option value=0>ordinary</option>
            <option value=1>fictional</option>
            <option value=2>non-fictional</option>
            <option value=3>drama</option>
            <option value=4>mystery</option>
            <option value=5>other</option>
            <option value=6>Horror</option>

        </select><br /><br />
        <button class="btn btn-outline-info" type="submit">Update</button>
    </form>


</body>
</html>